//coming soon page 

#collection-64ac37161df1a22776b9d801{
  footer{
    display: none !important;
  }
}

#collection-64ac37161df1a22776b9d801{.header-title-logo img {
content: url('https://static1.squarespace.com/static/647e0de217a3bd2f52d87c84/t/64b4832bd66d2545b9202c47/1689551659907/scandi-light-logo.png') !important;
max-height:inherit !important;
  }}


/*------------------------------------
 *   VARIABLES
 *------------------------------------*/

/**GLOBAL COLORS**/

@white: #FFFFFF;
@black: #000000;
@grey: #C0C4C9;
@beige: #F1E8E1;

/**BREAKPOINTS**/

@maxBP: 1649px;
@deskBP: 768px;
@mBP: 767px;

/**OTHER VARIABLES**/

@mobile:~"only screen and (max-width: 767px)";
@desktop:~"only screen and (min-width: 768px)";
@tablet: ~"only screen and (max-width: 1024px) and (min-width:768px)";
@desktopXL: ~"only screen and (min-width: 1649px)"; 


/*------------------------------------
 *   MIXINS
 *------------------------------------*/




/*------------------------------------
 *   CUSTOM FONTS
 *------------------------------------*/

@font-face {
  font-family: 'sunshower';
  src: url('https://static1.squarespace.com/static/627563ab2999a507f5f657c2/t/627aa2fb0b7a435085a861a0/1652204283320/SunshowerDreamsRegular.woff') format('woff'), url('https://static1.squarespace.com/static/627563ab2999a507f5f657c2/t/627aa32751e1815712fab5b6/1652204327956/SunshowerDreamsRegular.woff2') format('woff2'),
}

/*------------------------------------
 *   GLOBAL STYLES
 *------------------------------------*/
html{
  scroll-behavior:smooth;
}

h2, h3, h4{
  font-weight: 200!important;
}


//DEFINE KEYFRAMES

@keyframes rotateLogo {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeout
{
  0%{
    opacity:1;
  }
  40%{
    opacity:1;
  }
  100%
  {
    opacity:0;
  }
}


//button centering on mobile

@media @mobile {
  .sqs-block-button * {
    text-align: center!important;
    z-index: 100!important;
  }
}

//center text on mobile
@media only screen and (max-width: 640px) {h1,h2,h3,h4,p{
  text-align: center!important;
  }}


//button styling

//disable sticky on edit mode

body.sqs-edit-mode-active {
#sections {
 flex-direction:column !important;
 flex-wrap:nowrap !important;
  .page-section {
    width:100% !important;
    position:relative !important;
  }
}
}

//fixing button center issue
@media @mobile{
.sqs-block-button-container--left {
display:block !important;
  }}




FIX IG ISSUE

#block-yui_3_17_2_1_1665283305769_24491{img.loaded{
  top: 0!important;
  }}
.sqs-gallery-design-strip-slide img{
  object-fit: cover;
}

/*------------------------------------
 *  HEADER
 *------------------------------------*/

//inquire button



/*------------------------------------
 *  FOOTER
 *------------------------------------*/
#block-yui_3_17_2_1_1690499338146_53575, #block-74914135aa9bffd52818 { img{
  transform: scale(.5)
  
  }
  
}




/*------------------------------------
 * PAGES: HOME
 *------------------------------------*/
//code for removed sections just in case we need it

// add back in if needed -translateY(-120%)

#block-yui_3_17_2_1_1689552427659_3188{
  transform:  scale(1.5);
  transition: 2s ease;
}

.scrolled {#block-yui_3_17_2_1_1689552427659_3188{
   transform: none;
  
}
}

section[data-section-id="64b487d173a0026ed5e9415f"]{
  position: sticky !important;
  top: 0 !important;
}

section[data-section-id="64c00f03b3b82b7cffc676fd"]{ .page-section .section-border{
  background-color: transparent!important;
  }
  .content-wrapper{
    background-color: transparent!important;
  }

}

.page-section.transparent .section-border {
  background-color: rgba(0,0,0,0);
}

// transparent sections
section.transparent {
  .page-section .section-border {
     background-color: transparent !important;
  }
  background-color: transparent !important;
  .section-background {
    background-color: transparent !important;
  }
}
//ADDED TO RESOLVE BROWSER COMPATIBILITY/
.page-section {
transform: translate3d(0,0,0) !important;
}
//hiding section
section[data-section-id="64c00f03b3b82b7cffc676fd"]{
  display: none;
}


//end old code

//new header section 

#block-yui_3_17_2_1_1691782426840_4543 img{
  //animation: fadeout 9s forwards;
  //animation-iteration-count: 1;
  opacity: .5 !important;
}

@media @desktop{
section[data-section-id="64c3001407e6fd711cddfb67"]{
   .fe-block:nth-child(2){
    position: sticky !important;
    top: 0% !important;
    height: 100vh !important;
}
  }}

/** Fluid Video Block**/

section[data-section-id="64c3001407e6fd711cddfb67"]{
.video-block {
  .sqs-native-video .native-video-player {
    padding-top: 0 !important;
  }

  .video-player .plyr__poster {
    object-fit:cover !important;
    background-size:cover !important;
  }
  
  .video-player .plyr video {
  object-fit: cover !important;
}
  .embed-block-wrapper {
    height: 100% !important;
  }
  .intrinsic {
    height: 100% !important;
  }

  .sqs-block-content {
    height: 100% !important;
  }

  .sqs-native-video {
    height: 100% !important;
  }
  
  
}
}
//hover images 
#block-e3589d198eeacf2ff363, #block-28b1132afc8054bb76c9, #block-e2d2de915f4fee9c20b1, #block-a73400989877b9b0232b{
  transition: .5s linear;
  }


#block-e3589d198eeacf2ff363:hover{
  opacity: 0;
  transition: 1s linear;
  transition-timing-function: ease-in-out;
}

#block-28b1132afc8054bb76c9:hover{
  opacity: 0;
  transition: 1s linear;
  transition-timing-function: ease-in-out;
}
#block-e2d2de915f4fee9c20b1:hover{
  opacity: 0;
  transition: 1s linear;
  transition-timing-function: ease-in-out;
}
#block-a73400989877b9b0232b:hover{
  opacity: 0;
  transition: 1s linear;
  transition-timing-function: ease-in-out;
}

  
@media @desktop{

#span1:hover::before{
  background: url(https://static1.squarespace.com/static/647e0de217a3bd2f52d87c84/t/64dfbb4403e9c614ddfea4d3/1692384069217/Group+3915.png);
  content: '';
  height:25vw;
  width: 20vw;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  position: absolute;
  left: 2vw;
  top: -25%;
  //transform: translate(86vw, 6vw);
  z-index: 1!important;
 
}

#span2:hover::before{
  background: url(https://static1.squarespace.com/static/647e0de217a3bd2f52d87c84/t/64dfbb44b844535cc3bde75c/1692384068523/Site+Plan.png);
  content: '';
  height:25vw;
  width: 20vw;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  position: absolute;
  right: 2vw;
  top: -5%;
  //transform: translate(86vw, 6vw);
  z-index: 20!important;
 
}

#span3:hover::before{
  background: url(https://static1.squarespace.com/static/647e0de217a3bd2f52d87c84/t/64dfbb44b92322393df435aa/1692384069218/Lake+Side+%233.png);
  content: '';
  height:25vw;
  width: 20vw;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  position: absolute;
  left: 2vw;
  top: 38%;
  //transform: translate(86vw, 6vw);
  z-index: 20!important;
 
}

#span4:hover::before{
  background: url(https://static1.squarespace.com/static/647e0de217a3bd2f52d87c84/t/64dfbb44b7229a67beef1838/1692384069207/Kitchen-Living+Room+%233b.png);
  content: '';
  height:25vw;
  width: 20vw;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  position: absolute;
  right: 5vw;
  top: 60%;
  //transform: translate(86vw, 6vw);
  z-index: 20!important;
 
  }}


/*------------------------------------
 * PAGES: Inquire
 *------------------------------------*/
@media @desktop{
section[data-section-id="64bea9054ff95e0ba80e52fb"]{
  .fe-block:first-child{
    position: sticky !important;
    top: 10%;
    
}
  }}

/** Fluid Video Block**/

section[data-section-id="64bea9054ff95e0ba80e52fb"]{
.video-block {
  .sqs-native-video .native-video-player {
    padding-top: 0 !important;
  }

  .video-player .plyr__poster {
    object-fit:cover !important;
    background-size:cover !important;
  }
  
  .video-player .plyr video {
  object-fit: cover !important;
}
  .embed-block-wrapper {
    height: 100% !important;
  }
  .intrinsic {
    height: 100% !important;
  }

  .sqs-block-content {
    height: 100% !important;
  }

  .sqs-native-video {
    height: 100% !important;
  }
  
  
}
}

/*------------------------------------
 * PAGES: Services
 *------------------------------------*/
@media @desktop{
section[data-section-id="64bef7e360c59538ec7dcd05"]{
   .fe-block:first-child{
    position: sticky !important;
    top: 0%;
    height: 100vh !important;
}
  }}


section[data-section-id="64c3001407e6fd711cddfb67"] .plyr__video-wrapper:after{
  background: url('https://static1.squarespace.com/static/647e0de217a3bd2f52d87c84/t/64f768006dad2421d67b5d72/1693935616709/O.png');
  content: '';
  //background-color: red!important;
  height:4vw;
  width: 12vw;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  position: absolute;
  top: 9vw;
  left: 5vw;
  //transform: translate(-39vw, 5vw);
  z-index: 10;

}


section.rotation{
  img{
    animation: rotateLogo 39s linear infinite ;
  }
}